.idea/workspace.xml
.idea/tasks.xml
.idea/*.local.xml
.idea/dataSources
.idea/inspectionProfiles/profiles_settings.xml
app/database/migrations/.idea/migrations.iml
auth.json
log/
vendor/
vendor.phar
temp/
www/node_modules
*local.neon
tests/php-unix.generated.ini
composer.phar
.bash_history
.mysql_history
.nano_history
.cache/
.gitconfig
www/api/swagger.json
